@media only screen and (min-width:425px){

body{
  background-color: #DDB36F;
}

.lbl-menu{
  display: none;
}

}

a.activate{
  color: black;
}

a.visiate{
  color: black;
}

a.interactive{
  color: gray;
}

a{
  color: black;
  font-size: 25px;
  text-decoration: none;
  line-height: 100px;
  font-family: 'Sigmar One', cursive;
}

#header{
  height: 100px;
  width: 100%;
  background-color: #F0932B;
  background-image: url(IMG/logo2.png);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;


}


#logo2{
  height: 100px;
  width: 100%;
  margin-top: -100px;
  background-image: url(IMG/logo.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}


.barra-pc{


text-align: center;


}

.barra-pc a{

padding: 40px;
text-align: center;


}




#clogin{
  background-color: #DDB36F;
  width: 200px;
  height: 200px;
  margin-top: 10px;
}

#clogin p{
  font-size: 20px
  font-family: 'Sigmar One', cursive;
}

#clogin M{
  }

  #Insta{
    height: 100px;
    width: 100px;
    margin-top: 25px;
    background-image: url(IMG/Instagram.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }



#mes_info{
  margin-left: 675px;
  background-color: white;
  text-align: center;
  font-size: 25px;
  width: 300px;


}



ul{
  text-align: center;
  line-height: 100px;
}

li{
  display: inline;
  margin: 15px;
  background-color: inherit;
  font-family: 'Sigmar One', cursive;
  font-weight: bold;
}



#Lacaverna{
  margin: auto;
  width: 1230px;
  margin-top: -200px;
  text-align:center;
}

#img{
  margin: auto;
  width: 1500px;
  margin-left: 200px;

}

#fondo_Blanco{
  background-color: white;
  width: 1000px;
  margin-left: 450px;
  justify-content: center;

}






/*merchandising*/

#Fondo_Blanquito{
  width: 1200px;
  background-color: white;
}

#Fondo_Blanquito h2{
  margin-top: 100px;
}

.merchandising{
  margin: auto;
  width: 100px;
  margin-left: 75px;
  display: inline;
  font-weight: bold;
  font-family: 'Sigmar One', cursive;
}

.Madera{
  width: 100px;
  margin-left: 150px;
  display: inline;
  font-weight: bold;
}



/*Carn*/
#Muy_buena{
  width: 100px;
  margin-left:300px;
  font-weight: ;
  float: right;
  font-family: 'Sigmar One', cursive;

}


p.Ingredients_c{
  margin-left: -500px;
  margin-top: -700px;
  text-align: center;
  float: right;

}

/*verdures*/

#Verduritas{
  width: 100px;
  margin-left:300px;
  font-weight: ;
  float: right;
  font-family: 'Sigmar One', cursive;


}


p.Ingredients_v{
  margin-left: -500px;
  margin-top: -700px;
  text-align: center;
  float: right;

}



/*topmillors*/
.millors{
  width: 100px;
  margin-left: 300px;
  display: inline;
  font-weight: bold;
  font-family: 'Sigmar One', cursive;
}




body#La_Carn{}
